[Desktop Entry]
Version=1.0
Type=Application
Name=VPN Gate Client
Comment=Python GUI for VPN Gate
Exec=vpngate-gui
Icon=vpngate-gui
Terminal=false
Categories=Network;
Keywords=VPN;OpenVPN;Proxy;
